body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: lightpink !important;
}

#root {
  margin: 10px;
  background-color: rgb(253, 213, 219) !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1.display-2 {
  color: magenta;
  font-size: 3.2em;
  line-height: 1.1;
  margin-left: 10px;
}

div > h2 {
  color: rgba(255, 0, 204, 0.87);
  text-shadow: rgba(247, 155, 229, 0.87) 0 0 10px;

}

.card.queen-assignment-card {
  background-color: pink;
  border-color: rgba(247, 155, 229, 0.87);
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgba(247, 155, 229, 0.87);
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.queen-assignment-board {
  border: 1px solid rgba(247, 155, 229, 0.87);
  border-radius: 5px;
  margin: 10px;
  padding: 5px 10px 15px 10px;
  background-color: azure;
}

.queen-assignment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 5px;
}

.queen-assignment-card {
  width: 30%;
  box-shadow: lightpink 0 0 8px 2px;
  border-color: rgba(255, 0, 204, 0.87);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  border: lightcyan 2px solid;
  padding: 5px;
  text-align: center;
  color: hotpink !important;
}

.queen-assignment-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.queen-assignment-buttons button{
  border-color: rgba(247, 155, 229, 0.87);
  background-color: lightcyan;
  color: rgba(255, 0, 204, 0.87);
  text-shadow: lightgoldenrodyellow 0 0 2px;
  box-shadow: rgba(247, 155, 229, 0.87) 0 0 3px;
}

.queen-assignment-buttons button:hover {
  border-color: rgba(255, 0, 204, 0.87);
  background-color: lightgoldenrodyellow;
  color: rgba(255, 0, 204, 0.87);
}

div.queen-selection-phase-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button#assign-queens {
  margin: 0 auto;
  background-color: rgba(247, 155, 229, 0.87);
  border-color: rgba(255, 0, 204, 0.87);
  text-shadow: rgb(63, 63, 63) 0 0 2px;
}

button#assign-queens:hover {
  background-color: magenta;
  border-color: rgba(255, 0, 204, 0.87);
  text-shadow: rgb(63, 63, 63) 0 0 2px;
}

.team-dashboard {
  display: flex;
  flex-wrap: wrap;
}

.team-card {
  border: 1px solid rgba(247, 155, 229, 0.87);
  border-radius: 5px;
  margin: 10px;
  padding: 5px 10px;
  width: 200px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
